/** 常用色值 **/
/** 常用字体大小 **/
.container {
  display: flex;
}
.container .left {
  width: 15%;
  min-width: 180px;
  height: calc(100vh);
  background-color: #001529;
}
.container .right {
  flex: 1;
  width: 85%;
  height: calc(100vh);
  overflow: auto;
}
.container .right .content1 {
  background-color: #f1f3f5;
  padding: 20px;
}
